body {
    text-align: center;
    background: rgb(226, 231, 226);
}

select {
    width: 150px;
    border-radius: 5px 7px 5px ;
    
}
section {
    background-color: rgba(151, 184, 107, 0.582);
    width: 500px;
    margin:auto;
    border-radius: 15px 15px ;
    box-shadow: 7px 7px 7px rgba(228, 217, 217, 0.795);
}

button{
    outline: none;
    border:none;
    color: black;
    border-radius: 2px 2px 2px;
}

footer{
    margin-top: 3.5%;
}

div#resultado{
    background-color: white;
}